body {
    font-family: Montserrat;
    background-color: #ffffff; 
    color: #333333; 
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.saunacontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    color: #4CAF50; 
}

.sauna {
    width: 45%; 
    margin: 10px;
}

    .sauna img {
        max-width: 100%;
        height: auto;
    }

    .sauna h3 {
        color: #4CAF50; 
    }

    .sauna p {
        line-height: 1.6;
    }

a {
    color: #4CAF50; 
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }



.contacts {
    margin-top: 50px;
}

.contact-block {
    display: inline-block;
    width: 20%;
    margin-right: 50px;
}

    .contact-block h4 {
        color: #4CAF50; 
    }
