body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containersauna {
    width: 80%;
    margin: 0 auto;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

visit-saunas {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: #ffffff; /* Белый цвет текста */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-panel {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

    .admin-panel form {
        margin-top: 10px;
        text-align: center;
    }

    .admin-panel ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    .admin-panel li {
        margin-bottom: 5px;
        text-align: center;
    }

    .admin-panel button {
        cursor: pointer;
        text-align: center;
    }
